@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap');

:root {
    --clr1: #F9FAF8;
    --clr2: #E5E7EB;
    --clr3: #3882F6;
    --clr4: #1F2937;
}



body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 1.125rem;
    color: var(--clr2);
}

.navbar-logo,
header h1,
.btn {
    color: var(--clr1);
    font-weight: 700;
}

header h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: .25em;
}

#random h2,
.thor {
    color: var(--clr4);
}

a {
    color: var(--link, #fff);
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: .5em 1.5em;
}


/*  */
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#navbar,
#header {
    background-color: var(--clr4);
}

/* navbar */
#navbar .wrapper {
    display: flex;
    justify-content: space-between;
}

#navbar {
    padding: .75rem 0;
}

.nav {
    display: flex;
    gap: 20px;

    padding: 0;
    margin: 0;
    list-style: none;
}

/* hero section */
#header {
    padding: 4rem 0 4.75rem;
}

#header .wrapper {
    display: flex;
}

.header_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_left > * {
    max-width: 70%;
}

.header_left a {
    background-color: var(--clr3);
    border-radius: 5px;
    align-self: flex-start;
}

/* random section */
#random {
    padding: 3rem 0;
    text-align: center;
}

#random h2 {
    margin-top: 0;
}

.random_flex {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.random_card {
    width: 200px;
    color: hsl(220, 13%, 51%);
}

/* quote */
#quote {
    background-color: var(--clr2);
}

#quote .wrapper {
    max-width: 800px;
    padding: 2rem 0;
}

.quote_italicized {
    color: hsl(220, 13%, 41%);
    font-size: 1.6rem;
}

.thor {
    text-align: right;
    font-weight: 900;
}

/* cta section */
#cta {
    padding: 3rem 0;
}

#cta .wrapper {
    background-color: var(--clr3);
    border-radius: 10px;
    padding: 2rem 0;
}

.cta_flex {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta_flex p {
    margin: 0;
}

.cta_flex p:nth-of-type(1) {
    margin-bottom: .em;
    font-size: 1.3rem;
    font-weight: 700;
}

.cta_flex .btn {
    outline: 1px solid #fff;
    border-radius: 5px;
}

/* footer */
#footer {
    background-color: var(--clr4);
}

#footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#footer p {
    margin: 0;
}
